<div class="row">
	<div class="span6" ng-controller="SignUpController">
		<form class="form-horizontal">
			<fieldset>
				<legend>Sign Up</legend>
				<div class="control-group" ng-class="getUserNameClass()">
					<label class="control-label" for="userName">User Name:</label>
					<div class="controls">
						<input 
							type="text" 
							id="userName" 
							placeholder="User Name" 
							ng-model="userName">
						<span
							class="help-block"
							ng-repeat="error in userNameErrors">{{error}}</span>
					</div>
				</div>
				<div class="control-group" ng-class="getPasswordClass()">
					<label class="control-label" for="password">Password:</label>
					<div class="controls">
						<input 
							type="password" 
							id="password" 
							placeholder="Password"
							ng-model="password">
						<span
							class="help-block"
							ng-repeat="error in passwordErrors">{{error}}</span>
					</div>
				</div>
				<div class="form-actions">
  					<button 
  						type="button" 
  						class="btn btn-primary"
  						ng-click="signUpClicked()">Sign Up</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>